* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: linear-gradient(to left, rgb(255, 162, 0),rgb(50, 103, 218));
}

.content-main {
    background-color: rgb(0, 255, 255, 0.25);
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 25px;
    padding-top: 10px;
    overflow: auto;
    height: 275px;
    margin-top: 10%;
}

a {
    text-decoration: none;
    color: yellowgreen;
}
